@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model List<Image>

<div class="row mb-3">
    <div class="col d-flex align-items-center fs-4 pb-2">
        <div class="col-4">
            Foto
        </div>
        <div class="col-3 text-center fw-bold">
            Titolo
        </div>
        <div class="col-5 text-center">
            Categorie
        </div>
    </div>
</div>

@foreach (var image in Model)
{
    <div class="row mb-3">
        <div class="col d-flex align-items-center fs-4 pb-2">
            <div class="col-4">
                <img src="@image.Picture" style="width: 250px; height: 170px;" />
            </div>
            <div class="col-2 text-center fw-bold">
                @image.Title
            </div>
            <div class="col-3 text-center">
                @foreach (Category category in image.Categories)
                {
                    List<Category> categories = image.Categories;
                    if (categories.IndexOf(category) != categories.Count - 1)
                    {
                        <span> @category.Name,</span>
                    }
                    else
                    {
                        <span> @category.Name.</span>
                    }
                }
            </div>
            <div class="col-3 text-center pl-4">
                <a href="@Url.Action("Update", "Home", new { id = image.Id })" class="btn" style="background-color:green; color:white;">Modifica</a>
                <a href="@Url.Action("Details", "Home", new { id = image.Id })" class="btn btn-primary">Dettagli</a>
                @if (User.IsInRole("ADMIN"))
                {
                    <form asp-controller="Home" asp-action="Delete" asp-route-id="@image.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm">
                            Elimina
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
}